In [105]:
import pandas as pd 
from pathlib import Path 

school_file_to_load = Path ("PyCitySchools/Resources/schools_complete.csv")
student_file_to_load = Path ("PyCitySchools/Resources/students_complete.csv")


school_file = pd.read_csv(school_file_to_load)
student_file = pd.read_csv (student_file_to_load)
school_file.head()
# school_file.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [21]:
#Merge Files 
combined_files = pd.merge(school_file, student_file, on=["school_name"])
combined_files.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [22]:
#total students
total_students = combined_files.groupby('school_name')['Student ID'].nunique()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [101]:
total_schools = combined_files['school_name'].nunique()
total_students = len(combined_files) 
total_budget = combined_files['budget'].sum()
average_math_score = combined_files['math_score'].mean()
average_reading_score = combined_files['reading_score'].mean()

In [102]:
passing_math_percentage = (len(combined_files[combined_files['math_score'] >= 70]) / len(combined_files)) * 100
passing_reading_percentage = (len(combined_files[combined_files['reading_score'] >= 70]) / len(combined_files)) * 100
overall_passing_percentage = (len(combined_files[(combined_files['math_score'] >= 70) & (combined_files['reading_score'] >= 70)]) / len(combined_files)) * 100

In [103]:
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})

In [104]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [93]:
total_students

39170

In [48]:
school_summary = combined_files.groupby('school_name').agg({
    'type': 'first',
    'Student ID': 'nunique', 
    'budget': 'first',  
    'math_score': 'mean',
    'reading_score': 'mean'
})

school_summary['Per Student Budget'] = school_summary['budget'] / school_summary['Student ID']


school_summary['% Passing Math'] = (combined_files[combined_files['math_score'] >= 70].groupby('school_name')['Student ID'].nunique() / school_summary['Student ID']) * 100
school_summary['% Passing Reading'] = (combined_files[combined_files['reading_score'] >= 70].groupby('school_name')['Student ID'].nunique() / school_summary['Student ID']) * 100
school_summary['% Overall Passing'] = (combined_files[(combined_files['math_score'] >= 70) & (combined_files['reading_score'] >= 70)].groupby('school_name')['Student ID'].nunique() / school_summary['Student ID']) * 100
school_summary.reset_index(inplace=True)

school_summary.columns = ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']

print(school_summary)

              School Name School Type  Total Students  Total School Budget  \
0      Bailey High School    District            4976              3124928
1     Cabrera High School     Charter            1858              1081356
2    Figueroa High School    District            2949              1884411
3        Ford High School    District            2739              1763916
4     Griffin High School     Charter            1468               917500
5   Hernandez High School    District            4635              3022020
6      Holden High School     Charter             427               248087
7       Huang High School    District            2917              1910635
8     Johnson High School    District            4761              3094650
9        Pena High School     Charter             962               585858
10  Rodriguez High School    District            3999              2547363
11    Shelton High School     Charter            1761              1056600
12     Thomas High School     Charter            1635              1043130
13     Wilson High School     Charter            2283              1319574
14     Wright High School     Charter            1800              1049400

    Per Student Budget  Average Math Score  Average Reading Score  \
0            77.048432           81.033963                  628.0
1            83.061895           83.975780                  582.0
2            76.711767           81.158020                  639.0
3            77.102592           80.746258                  644.0
4            83.351499           83.816757                  625.0
5            77.289752           80.934412                  652.0
6            83.803279           83.814988                  581.0
7            76.629414           81.182722                  655.0
8            77.072464           80.966394                  650.0
9            83.839917           84.044699                  609.0
10           76.842711           80.744686                  637.0
11           83.359455           83.725724                  600.0
12           83.418349           83.848930                  638.0
13           83.274201           83.989488                  578.0
14           83.682222           83.955000                  583.0

    % Passing Math  % Passing Reading  % Overall Passing
0        66.680064          81.933280          54.642283
1        94.133477          97.039828          91.334769
2        65.988471          80.739234          53.204476
3        68.309602          79.299014          54.289887
4        93.392371          97.138965          90.599455
5        66.752967          80.862999          53.527508
6        92.505855          96.252927          89.227166
7        65.683922          81.316421          53.513884
8        66.057551          81.222432          53.539172
9        94.594595          95.945946          90.540541
10       66.366592          80.220055          52.988247
11       93.867121          95.854628          89.892107
12       93.272171          97.308869          90.948012
13       93.867718          96.539641          90.582567
14       93.333333          96.611111          90.333333

In [50]:
top_schools = school_summary.sort_values(by='% Overall Passing', ascending=False).head(5)
top_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
12,Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
13,Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,83.839917,84.044699,609.0,94.594595,95.945946,90.540541

In [52]:
bottom_schools = school_summary.sort_values(by='% Overall Passing').head(5)
bottom_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
2,Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
7,Huang High School,District,2917,1910635,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
5,Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
8,Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,66.057551,81.222432,53.539172

In [55]:
math_score_by_grade = combined_files.groupby(['school_name', 'grade'])['math_score'].mean().reset_index()
math_score_by_gradez

              school_name grade  math_score
0      Bailey High School  10th   76.996772
1      Bailey High School  11th   77.515588
2      Bailey High School  12th   76.492218
3      Bailey High School   9th   77.083676
4     Cabrera High School  10th   83.154506
5     Cabrera High School  11th   82.765560
6     Cabrera High School  12th   83.277487
7     Cabrera High School   9th   83.094697
8    Figueroa High School  10th   76.539974
9    Figueroa High School  11th   76.884344
10   Figueroa High School  12th   77.151369
11   Figueroa High School   9th   76.403037
12       Ford High School  10th   77.672316
13       Ford High School  11th   76.918058
14       Ford High School  12th   76.179963
15       Ford High School   9th   77.361345
16    Griffin High School  10th   84.229064
17    Griffin High School  11th   83.842105
18    Griffin High School  12th   83.356164
19    Griffin High School   9th   82.044010
20  Hernandez High School  10th   77.337408
21  Hernandez High School  11th   77.136029
22  Hernandez High School  12th   77.186567
23  Hernandez High School   9th   77.438495
24     Holden High School  10th   83.429825
25     Holden High School  11th   85.000000
26     Holden High School  12th   82.855422
27     Holden High School   9th   83.787402
28      Huang High School  10th   75.908735
29      Huang High School  11th   76.446602
30      Huang High School  12th   77.225641
31      Huang High School   9th   77.027251
32    Johnson High School  10th   76.691117
33    Johnson High School  11th   77.491653
34    Johnson High School  12th   76.863248
35    Johnson High School   9th   77.187857
36       Pena High School  10th   83.372000
37       Pena High School  11th   84.328125
38       Pena High School  12th   84.121547
39       Pena High School   9th   83.625455
40  Rodriguez High School  10th   76.612500
41  Rodriguez High School  11th   76.395626
42  Rodriguez High School  12th   77.690748
43  Rodriguez High School   9th   76.859966
44    Shelton High School  10th   82.917411
45    Shelton High School  11th   83.383495
46    Shelton High School  12th   83.778976
47    Shelton High School   9th   83.420755
48     Thomas High School  10th   83.087886
49     Thomas High School  11th   83.498795
50     Thomas High School  12th   83.497041
51     Thomas High School   9th   83.590022
52     Wilson High School  10th   83.724422
53     Wilson High School  11th   83.195326
54     Wilson High School  12th   83.035794
55     Wilson High School   9th   83.085578
56     Wright High School  10th   84.010288
57     Wright High School  11th   83.836782
58     Wright High School  12th   83.644986
59     Wright High School   9th   83.264706

In [56]:
reading_score_by_grade = combined_files.groupby(['school_name', 'grade'])['reading_score'].mean().reset_index()
reading_score_by_grade

              school_name grade  reading_score
0      Bailey High School  10th      80.907183
1      Bailey High School  11th      80.945643
2      Bailey High School  12th      80.912451
3      Bailey High School   9th      81.303155
4     Cabrera High School  10th      84.253219
5     Cabrera High School  11th      83.788382
6     Cabrera High School  12th      84.287958
7     Cabrera High School   9th      83.676136
8    Figueroa High School  10th      81.408912
9    Figueroa High School  11th      80.640339
10   Figueroa High School  12th      81.384863
11   Figueroa High School   9th      81.198598
12       Ford High School  10th      81.262712
13       Ford High School  11th      80.403642
14       Ford High School  12th      80.662338
15       Ford High School   9th      80.632653
16    Griffin High School  10th      83.706897
17    Griffin High School  11th      84.288089
18    Griffin High School  12th      84.013699
19    Griffin High School   9th      83.369193
20  Hernandez High School  10th      80.660147
21  Hernandez High School  11th      81.396140
22  Hernandez High School  12th      80.857143
23  Hernandez High School   9th      80.866860
24     Holden High School  10th      83.324561
25     Holden High School  11th      83.815534
26     Holden High School  12th      84.698795
27     Holden High School   9th      83.677165
28      Huang High School  10th      81.512386
29      Huang High School  11th      81.417476
30      Huang High School  12th      80.305983
31      Huang High School   9th      81.290284
32    Johnson High School  10th      80.773431
33    Johnson High School  11th      80.616027
34    Johnson High School  12th      81.227564
35    Johnson High School   9th      81.260714
36       Pena High School  10th      83.612000
37       Pena High School  11th      84.335938
38       Pena High School  12th      84.591160
39       Pena High School   9th      83.807273
40  Rodriguez High School  10th      80.629808
41  Rodriguez High School  11th      80.864811
42  Rodriguez High School  12th      80.376426
43  Rodriguez High School   9th      80.993127
44    Shelton High School  10th      83.441964
45    Shelton High School  11th      84.373786
46    Shelton High School  12th      82.781671
47    Shelton High School   9th      84.122642
48     Thomas High School  10th      84.254157
49     Thomas High School  11th      83.585542
50     Thomas High School  12th      83.831361
51     Thomas High School   9th      83.728850
52     Wilson High School  10th      84.021452
53     Wilson High School  11th      83.764608
54     Wilson High School  12th      84.317673
55     Wilson High School   9th      83.939778
56     Wright High School  10th      83.812757
57     Wright High School  11th      84.156322
58     Wright High School  12th      84.073171
59     Wright High School   9th      83.833333

In [72]:
per_student_budget = combined_files['budget']/total_students
per_student_budget

0        48.778019
1        48.778019
2        48.778019
3        48.778019
4        48.778019
           ...
39165    26.630840
39166    26.630840
39167    26.630840
39168    26.630840
39169    26.630840
Name: budget, Length: 39170, dtype: float64

In [ ]:
school_spending_df =

In [99]:
#Scores by School Spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins=spending_bins, labels=labels)

spending_math_scores = school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()


spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,82.529188,620.066667,80.987054,89.219023,73.27756
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

In [85]:
#Scores by School Size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary ['School Size'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=labels)

size_math_scores = school_summary.groupby('School Size')['Average Math Score'].mean()
size_reading_scores = school_summary.groupby('School Size')['Average Reading Score'].mean()
size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
overall_passing_size = school_summary.groupby('School Size')['% Overall Passing'].mean()


size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size
})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.929843,595.000,93.550225,96.099437,89.883853
Medium (1000-2000),83.864438,605.600,93.599695,96.790680,90.621535
Large (2000-5000),81.344493,635.375,69.963361,82.766634,58.286003

In [88]:
#Scores by School Type
type_math_scores = school_summary.groupby('School Type')['Average Math Score'].mean()
type_reading_scores = school_summary.groupby('School Type')['Average Reading Score'].mean()
type_passing_math = school_summary.groupby('School Type')['% Passing Math'].mean()
type_passing_reading = school_summary.groupby('School Type')['% Passing Reading'].mean()
overall_passing_type = school_summary.groupby('School Type')['% Overall Passing'].mean()

type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": overall_passing_type
})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.896421,599.500000,93.620830,96.586489,90.432244
District,80.966636,643.571429,66.548453,80.799062,53.672208